/* Overwrites */
.tab-pane .list-group-item:first-child {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tab-pane .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tab-pane .list-group-item {
  border-color: black;
}

.nav-tabs {
  border-color: black;
}

.nav-tabs > li {
  width: 33%;
}

.nav-tabs > li:last-child {
  width: 34%;
}

.nav-tabs > li:last-child > a {
  margin-right: 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-color: black black transparent black;
}

.nav-tabs > li > a:hover {
  border-color: transparent transparent black transparent;
}

.tab-pane > div {
  border: 1px solid black;
  border-top: none;
  padding: 10px 15px;
}

.container {
  margin-bottom: 20px;
}

/* Custom styles */

.cv-blurb {
  margin-top: 20px;
}

.cv-panel-container {
  display: table;
  margin-top: 30px;
}

.cv-tabbed-subheading {
  margin-left: 10px;
}

.cv-panel {
  display: table-cell;
  vertical-align: middle;
  margin-top: 30px;
  /*padding: 15px;*/
  border: 5px solid black;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cv-default-square {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 175px;
}

.cv-default-long {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 380px;
}

.cv-long {
  float: right;
}

.cv-hover:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #FF0000;
  border: 5px solid #FF0000;
  color: white;
}

.cv-reverse {
  background-color: black;
  color: white;
}

.cv-big-text {
  font-size: 22pt;
}

.col-sm-4, .col-sm-12, .col-sm-6 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cv-active-done-iam {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 40px;
}

.cv-active-done-knowwell {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 40px;
}

.cv-active-done-dabble {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 40px;
}

.cv-active-done-education {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 40px;
}

.cv-active-done-done {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 200px;
}

.cv-job-div {
  display: table-cell;
  border: 1px solid black;
  border-left: none;
  padding: 10px;
  min-height: 250px;
  /*font-size: 9pt;*/
}

.cv-job-row {
  display: table-row;
}

.cv-job-title {
  /*font-size: 10pt;*/
  font-weight: bold;
}

.cv-job-firm {
  /*font-size: 10pt;*/
  opacity: 0.7;
}

.cv-svg {
  display: block;
  margin: 0 auto -2px auto;
}

svg line {
  shape-rendering: crispEdges;
}

svg rect {
  shape-rendering: crispEdges;
}

.cv-education-degree {
  font-weight: bold;
}

.cv-education-major {
  opacity: 0.7;
}

.cv-education-major:after {
  content: '\A';
  white-space: pre;
}

.cv-education-institution {
  font-size: smaller;
  font-weight: bold;
}

.cv-education-year {
  font-size: smaller;
}

.large-text {
  font-size: 64px;
}

.cv-period {
  font-style: italic;
  font-weight: bold;
  opacity: 0.8;
}

@media (min-width: 992px) {
  #employment {
    margin: 0 auto;
    width: 940px;
  }
  .cv-period {
    display: none;
  }
}

@media (max-width: 992px) {
  .cv-svg {
    display: none;
  }
}

/* Change pane styles */
.cv-change-table {
  margin-bottom: 10px;
}

.cv-buttons {
  display: table;
  border-collapse: separate;
  border-spacing: 10px 0px;
}

.cv-button-holder {
  display: table-row;
  width: 100%;
}

.cv-button {
  text-align: center;
  display: table-cell;
  border: 3px solid #646464;
  border-top-right-radius: 2px;
  border-top-left-radius: 25px;
  border-bottom: none;
  padding: 10px;
  width: 10%;
  color: #235682;
}

.cv-button-active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

.cv-button-inactive {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.3;
  cursor: pointer;
  color: #646464;
}

.cv-button-inactive:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ed2939;
  opacity: 0.4;
}

.cv-button-icon {
  display: block;
  font-size: 38px;
}

.cv-content {
  display: table-row;
  height: 190px;
}

.cv-content-item {
  display: table-Cell;
  border: 3px solid #646464;
  width: 33%;
  padding: 20px;
  vertical-align: middle;
}

.cv-content-inactive {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

.cv-list-group-item {
  list-style: none;
  line-height: 28px;
}