@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?capo4r');
	src:url('../fonts/icomoon.eot?#iefixcapo4r') format('embedded-opentype'),
		url('../fonts/icomoon.woff?capo4r') format('woff'),
		url('../fonts/icomoon.ttf?capo4r') format('truetype'),
		url('../fonts/icomoon.svg?capo4r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wt-glyph-delorean-III:before {
	content: "\e60b";
}
.icon-wt-glyph-delorean-II:before {
	content: "\e602";
}
.icon-wt-glyph-coffee:before {
	content: "\e603";
}
.icon-wt-glyph-cross:before {
	content: "\e604";
}
.icon-wt-glyph-tool:before {
	content: "\e605";
}
.icon-wt-glyph-www:before {
	content: "\e606";
}
.icon-wt-glyph-cat:before {
	content: "\e607";
}
.icon-wt-glyph-mortarboard:before {
	content: "\e608";
}
.icon-wt-glyph-heisenberg:before {
	content: "\e601";
}
.icon-wt-glyph-team:before {
	content: "\e600";
}
.icon-globe:before {
	content: "\e609";
}
.icon-legal:before {
	content: "\e60a";
}
