/* Overrides */
.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.table {
  margin-bottom: 0px;
}

.table > thead > tr > th {
  border: none;
  padding-left: 0px;
}

.table > tbody > tr > td {
  border: none;
  padding-left: 0px;
}

.page-header {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .cv-address {
    padding-right: 20px;
    border-right: 1px solid lightgray;
  }
}

.cv-blurb {
  font-size: 16px;
  opacity: 0.7;
}

.cv-job-period {
  font-style: italic;
}

.cv-job-unit {
  margin-bottom: 20px;
}

.cv-education-unit {
  margin-bottom: 10px;
}

.cv-education-degree {
  font-weight: bold;
}

.cv-education-major {
  opacity: 0.7;
}

.cv-education-institution {
  font-size: smaller;
  font-weight: bold;
}
